{% extends 'partials/form.html.twig' %}

{% block form %}

    {% include 'partials/_form_errors.html.twig' %}

    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.isActive) }}
    {{ form_row(form.pageCategory) }}
    {{ form_row(form.name) }}

    {{ form_row(form.description) }}

    <div class="form-group{% if not form.currentFile.vars.valid %} has-error{% endif %}">
        {{ form_label(form.currentFile) }}

        <div class="col-sm-9">
            {{ form_widget(form.currentFile) }}
            {{ form_errors(form.currentFile) }}
            {% if form.vars.value.currentFileFilename and form.vars.value.currentFileFilename != 'initial' %}
                <span class="far fa-file mr-5"></span><a href="{{ path('page-file-download-current', {'id': form.vars.value.id}) }}">Pobierz wgrany uprzednio plik.</a>
            {% endif %}
        </div>
    </div>

    <div class="form-group{% if not form.originalFile.vars.valid %} has-error{% endif %}">
        {{ form_label(form.originalFile) }}

        <div class="col-sm-9">
            {{ form_widget(form.originalFile) }}
            {{ form_errors(form.originalFile) }}
            {% if form.vars.value.originalFileFilename and form.vars.value.originalFileFilename != 'initial' %}
                <span class="far fa-file mr-5"></span><a href="{{ path('page-file-download-original', {'id': form.vars.value.id}) }}">Pobierz wgrany uprzednio plik.</a>
            {% endif %}
        </div>
    </div>

    {{ form_row(form.tags) }}

    {{ form_row(form._token) }}
    {{ form_row(form.save) }}

    {{ form_end(form, {'render_rest': false}) }}

    {% if ISOFileFileHistory is defined %}
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <h4>Historia załączników</h4>
                {% if ISOFileFileHistory|length %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Rodzaj pliku</th>
                            <th>Nazwa</th>
                            <th>Kiedy dodano</th>
                            <th>Kto dodał</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for file in ISOFileFileHistory %}
                                <tr>
                                    <td>{{ file.fileType.label }}</td>
                                    <td><a href="{{ path('page-file-file-history-download', {'id': file.id}) }}">{{ file.filename }}</a></td>
                                    <td>{{ file.createdAt|format_datetime }}</td>
                                    <td>{{ file.user.fullname|default }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="alert alert-default">Brak.</p>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}

    {% include 'partials/_tags.html.twig' with {tags: tags} %}

{% endblock %}
