{% extends 'base.html.twig' %}

{% block document %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="login-logo">
                    <img src="{{ asset('img/alab_logo_big.png') }}" height="50" width="222" alt="{{ defaults.title }}">
                </div>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ustaw nowe hasło</h3>
                    </div>
                    <div class="panel-body">

                        {% if error is defined %}
                            <div class="alert alert-danger" role="alert">
                                <span class="fas fa-exclamation-circle"></span>
                                {{ error }}
                            </div>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                <span class="fas fa-check"></span>
                                Witaj {{ fullname }}! Wpisz nowe hasło jakie chciałbyś ustawić dla swojego konta.
                            </div>

                            {{ form(form) }}
                        {% endif %}

                        <hr>
                        <p class="text-center">
                            <a href="{{ path('login') }}">Zaloguj się</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ prefetch(asset('js/alab.pwstrength.min.js')) }}" nonce="{{ csp_nonce('script') }}"></script>
{% endblock %}
