{% extends 'partials/form.html.twig' %}

{% block form %}

    {% include 'partials/_form_errors.html.twig' %}

    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.isActive) }}

    {% if form.vars.value.temporaryFilename %}
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <img class="photo" src="{{ asset(('carousel/'~form.vars.value.temporaryFilename)| imagine_filter('carousel')) }}" />
            </div>
        </div>
    {% endif %}

    {{ form_row(form.file) }}
    {{ form_row(form.title) }}
    {{ form_row(form.shortText) }}
    {{ form_row(form.date) }}
    {{ form_row(form.link) }}
    {{ form_row(form.page) }}
    {{ form_row(form.category) }}
    {{ form_row(form.url) }}

    {{ form_row(form._token) }}
    {{ form_row(form.save) }}

    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
