{% extends 'base.html.twig' %}

{% block body %}

    {% include 'partials/list-header.html.twig' %}

    {% if rows.count %}

        {% set class = 'log-request' %}
        {% set columns = {
            'created-at': {'name': 'Kiedy', 'sort': true, 'filter': true},
            'url': {'name': 'URL', 'sort': true, 'filter': true},
            'method': {'name': 'Metoda', 'sort': true, 'filter': true},
            'content': {'name': 'Treść', 'sort': true, 'filter': true},
            'ip': {'name': 'IP', 'sort': true, 'filter': true},
            'user': {'name': 'Użytkownik', 'sort': true, 'filter': true}
        } %}

        {% set isFilterBarVisible = false %}
        {% for key,text in columns %}
            {% if app.request.get(key) != '' %}
                {% set isFilterBarVisible = true %}
            {% endif %}
        {% endfor %}

        <form method="get" action="">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-hover table-stick" data-table="log-request">
                        <thead>
                        <tr>
                            <th class="mr-thin-column">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <span class="fas fa-fw fa-columns"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs mr-filter-button {% if isFilterBarVisible %}active{% endif %}" data-toggle="button">
                                        <span class="fas fa-fw fa-filter"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-left dropdown-column-select" role="menu">
                                        <li>
                                            {% for key,params in columns %}
                                                <div class="switch switch-xs">
                                                    <input type="checkbox" id="checkbox-{{ loop.index }}" {{ user_table_column_visible('checkbox', true, class, key)|raw }}>
                                                    <label for="checkbox-{{ loop.index }}">
                                                        {{ params.name }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            {% for key,params in columns %}
                                {% if params.sort %}
                                    <th {{ user_table_column_visible('column', true, class, key)|raw }}>{{ user_table_column_order(params.name, class, key) }}</th>
                                {% else %}
                                    <th {{ user_table_column_visible('column', true, class, key)|raw }}>{{ params.name }}</th>
                                {% endif %}
                            {% endfor %}
                            <th></th>
                        </tr>
                        <tr class="mr-filter-row {% if not isFilterBarVisible %}mr-hidden{% endif %}">
                            <td></td>
                            {% for key,params in columns %}
                                {% if params.filter %}
                                    <td {{ user_table_column_visible('column', true, class, key)|raw }}><input type="text" class="form-control" name="{{ key }}" placeholder="" value="{{ app.request.get(key) }}"></td>
                                {% else %}
                                    <td {{ user_table_column_visible('column', true, class, key)|raw }}></td>
                                {% endif %}
                            {% endfor %}
                            <td colspan="2">
                                <div class="btn-toolbar">
                                    <button class="btn btn-default btn-xs" data-toggle="tooltip" title="przefiltruj wg kryteriów">
                                        <span class="fas fa-fw fa-filter"></span>
                                    </button>
                                    <button class="btn btn-default btn-xs mr-filter-reset" data-toggle="tooltip" title="wyczyść wszystkie filtry">
                                        <span class="fas fa-fw fa-trash-alt"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in rows %}
                            <tr>
                                <td class="mr-thin-column">{{ loop.index + (setting.getSetting('rows_per_page', app.user) * (app.request.get('page') - 1)) }}</td>
                                <td {{ user_table_column_visible('column', true, class, 'created-at')|raw }}>{{ row.createdAt|format_datetime('short') }}</a></td>
                                <td {{ user_table_column_visible('column', true, class, 'url')|raw }}>{{ row.url }}</td>
                                <td {{ user_table_column_visible('column', true, class, 'method')|raw }}>{{ row.method }}</td>
                                <td {{ user_table_column_visible('column', true, class, 'content')|raw }} class="text-wrap-all">{{ row.content }}</td>
                                <td {{ user_table_column_visible('column', true, class, 'ip')|raw }}>{{ row.ip }}</td>
                                <td {{ user_table_column_visible('column', true, class, 'user')|raw }}>
                                    {% if row.user %}
                                        <a href="{{ path('user', {'id': row.user.id}) }}">{{ row.user.fullname }}</a>
                                    {% endif %}
                                </td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

        {% include 'partials/pagination.html.twig' %}

    {% else %}
        <div class="alert alert-warning" role="alert">
            <span class="fas fa-exclamation-circle"></span> Nic nie znaleziono.<br><br>
            <a href="{{ path(app.request.attributes.get('_route')) }}" class="alert-link">Pokaż wszystko</a>
        </div>
    {% endif %}
{% endblock %}
