{% extends 'base.html.twig' %}

{% block body %}

    {% set optionAdditionalContent %}

        {% if app.user %}
            <div class="btn-vertical-align">
                <div class="btn-group btn-group-sm">
                    <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({'page': app.request.get('page')|default(1), 'setting_collection_point_only_active': 1})) }}" class="btn btn-default{% if (setting.getSetting('collection_point_only_active', app.user)) %} active{% endif %}" title="{{ "Pokaż tylko aktywne punkty pobrań"|trans }}" data-toggle="tooltip"><span class="fa fa-check"></span> {{ "Tylko aktywne"|trans }}</a>
                    <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({'page': app.request.get('page')|default(1), 'setting_collection_point_only_active': 0})) }}" class="btn btn-default{% if not (setting.getSetting('collection_point_only_active', app.user)) %} active{% endif %}" title="{{ "Pokaż wszystkie punkty pobrań"|trans }}" data-toggle="tooltip"><span class="fa fa-bars"></span> {{ "Wszystkie"|trans }}</a>
                </div>
            </div>
        {% endif %}

    {% endset %}

    {% include 'partials/list-header.html.twig' with {'action': 'collection-point-create'} %}

    {% if rows.count %}
        {% set class = 'collection-point' %}
        {% set columns = {
            'user':                            {'name': 'Koordynator',                                               'sort': true, 'filter': true},
            'user-region':                     {'name': 'Dyrektor regionalny',                                       'sort': true, 'filter': true},
            'name':                            {'name': 'Nazwa',                                                     'sort': true, 'filter': true},
            'is-active':                       {'name': 'Czy aktywny',                                               'sort': true, 'filter': true, 'type': 'boolean'},
            'is-web':                          {'name': 'Widoczny na www',                                           'sort': true, 'filter': true, 'type': 'boolean'},
            'is-shop':                         {'name': 'Sprzedaż przez internet',                                   'sort': true, 'filter': true, 'type': 'boolean'},
            'is-contest':                      {'name': 'Konkurs',                                                   'sort': true, 'filter': true, 'type': 'boolean'},
            'is-covid-private':                {'name': 'Covid prywatny',                                            'sort': true, 'filter': true, 'type': 'boolean'},
            'is-40-plus':                      {'name': 'Program 40+',                                               'sort': true, 'filter': true, 'type': 'boolean'},
            'marcel':                          {'name': 'Marcel',                                                    'sort': true, 'filter': true},
            'mpk':                             {'name': 'MPK',                                                       'sort': true, 'filter': true},
            'street':                          {'name': 'Adres',                                                     'sort': true, 'filter': true},
            'address-info':                    {'name': 'Dodatkowe informacje o adresie',                            'sort': true, 'filter': true},
            'is-card':                         {'name': 'Płatność kartą',                                            'sort': true, 'filter': true, 'type': 'boolean'},
            'is-for-disabled':                 {'name': 'Dostęp dla osób niepełnosprawnych ',                        'sort': true, 'filter': true, 'type': 'boolean'},
            'city':                            {'name': 'Miasto',                                                    'sort': true, 'filter': true},
            'province':                        {'name': 'Województwo',                                               'sort': true, 'filter': true},
            'postal-code':                     {'name': 'Kod pocztowy',                                              'sort': true, 'filter': true},
            'phones':                          {'name': 'Telefony',                                                  'sort': false, 'filter': true},
            'is-internet':                     {'name': 'Dostęp do internetu',                                       'sort': true, 'filter': true, 'type': 'boolean'},
            'is-children':                     {'name': 'Przyjazny dzieciom',                                        'sort': true, 'filter': true, 'type': 'boolean'},
            'is-children-confirm':             {'name': 'Przyjazny dzieciom - wymagane potwierdzenie telefonicznie', 'sort': true, 'filter': true, 'type': 'boolean'},
            'is-children-age':                 {'name': 'Przyjazny dzieciom - od wieku',                             'sort': true, 'filter': true},
            'is-dermatofit':                   {'name': 'Dermatofity',                                               'sort': true, 'filter': true, 'type': 'boolean'},
            'is-dermatofit-confirm':           {'name': 'Dermatofity - wymagane potwierdzenie telefonicznie',        'sort': true, 'filter': true, 'type': 'boolean'},
            'is-gynecology':                   {'name': 'Ginekologiczny',                                            'sort': true, 'filter': true, 'type': 'boolean'},
            'is-gynecology-confirm':           {'name': 'Ginekologiczny - wymagane potwierdzenie telefonicznie',     'sort': true, 'filter': true, 'type': 'boolean'},
            'additional-info':                 {'name': 'Uwagi',                                                     'sort': true, 'filter': true},
            'internal-info':                   {'name': 'Wewnętrzne komentarze',                                     'sort': true, 'filter': true},
            'latitude':                        {'name': 'Długość geograficzna',                                      'sort': true, 'filter': true},
            'longitude':                       {'name': 'Szerokość geograficzna',                                    'sort': true, 'filter': true},
            'walk-3d':                         {'name': 'Spacer 3D',                                                 'sort': true, 'filter': true},
            'email':                           {'name': 'E-mail',                                                    'sort': true, 'filter': true},
            'laboratory':                      {'name': 'Laboratorium',                                              'sort': true, 'filter': true},
            'collection-point-classification': {'name': 'Klasyfikacja',                                              'sort': true, 'filter': true},
            'collection-point-location':       {'name': 'Rodzaj punktu',                                             'sort': true, 'filter': true},
            'collection-point-partner':        {'name': 'Spółka prowadząca',                                         'sort': true, 'filter': true},
            'taking-samples':                  {'name': 'Liczba osób pobierających',                                 'sort': true, 'filter': true},
            'registrants':                     {'name': 'Liczba osób rejestrujących',                                'sort': true, 'filter': true},
            'price-list':                      {'name': 'Cennik',                                                    'sort': true, 'filter': true},
            'collection-point-alternative':    {'name': 'Punkt alternatywny',                                        'sort': true, 'filter': true},
            'open-at':                         {'name': 'Data uruchomienia',                                             'sort': true, 'filter': true},
            'signed-at':                       {'name': 'Data podpisania umowy',                                           'sort': true, 'filter': true},
            'close-at':                        {'name': 'Data zamknięcia',                                           'sort': true, 'filter': true},
            'chatbotize-calendars':            {'name': 'Kalendarz wizyt',                                           'sort': true, 'filter': true},
        } %}

        {% set isFilterBarVisible = false %}
        {% for key,text in columns %}
            {% if app.request.get(key) != '' %}
                {% set isFilterBarVisible = true %}
            {% endif %}
        {% endfor %}

        <form method="get" action="">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-hover table-stick" data-table="collection-point">
                        <thead>
                        <tr>
                            <th class="mr-thin-column">
                                <div class="btn-group dropdown">
                                    {% if app.user %}
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <span class="fas fa-fw fa-columns"></span>
                                        </button>
                                    {% endif %}
                                    <button type="button" class="btn btn-default btn-xs mr-filter-button {% if isFilterBarVisible %}active{% endif %}" data-toggle="button">
                                        <span class="fas fa-fw fa-filter"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-left dropdown-column-select" role="menu">
                                        <li>
                                            {% for key,params in columns %}
                                                <div class="switch switch-xs">
                                                    <input type="checkbox" id="checkbox-{{ loop.index }}" {{ user_table_column_visible('checkbox', true, class, key)|raw }}>
                                                    <label for="checkbox-{{ loop.index }}">
                                                        {{ params.name }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            {% for key,params in columns %}
                                {% if app.user and params.sort %}
                                    <th {{ user_table_column_visible('column', true, class, key)|raw }}>{{ user_table_column_order(params.name, class, key) }}</th>
                                {% else %}
                                    <th {{ user_table_column_visible('column', true, class, key)|raw }}>{{ params.name }}</th>
                                {% endif %}
                            {% endfor %}
                            <th>
                                {% if security.hasAccess('collection-point-csv') or security.hasAccess('collection-point-xlsx') %}
                                    <div class="dropdown pull-right">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" title="Pobierz przefiltrowane dane" id="dropdownMenuButton">
                                            <span class="fas fa-fw fa-download"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            {% if security.hasAccess('collection-point-csv') %}
                                                <li><a href="{{ path('collection-point-csv', app.request.query.all) }}" title="Pobierz przefiltrowane dane w pliku CSV" data-toggle="tooltip" data-placement="left">Pobierz CSV</a></li>
                                            {% endif %}
                                            {% if security.hasAccess('collection-point-xlsx') %}
                                                <li><a href="{{ path('collection-point-xlsx', app.request.query.all) }}" title="Pobierz przefiltrowane dane w pliku XLSX" data-toggle="tooltip" data-placement="left">Pobierz XLSX</a></li>
                                            {% endif %}
                                            {% if security.hasAccess('user-file-export') %}
                                                <li role="separator" class="divider"></li>
                                                <li><a href="{{ path('user-file-export') }}" title="Wybierz aby przejść do ustawień danych eksportowanych do pliku" data-toggle="tooltip" data-placement="bottom">Ustawienia</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </th>
                        </tr>
                        <tr class="mr-filter-row {% if not isFilterBarVisible %}mr-hidden{% endif %}">
                            <td></td>
                            {% for key,params in columns %}
                                {% if params.filter %}
                                    <td {{ user_table_column_visible('column', true, class, key)|raw }}>
                                        <div class="form-group">
                                        {% if params.type|default == 'boolean' %}
                                            <select name="{{ key }}" id="{{ key }}">
                                                <option value=""></option>
                                                <option value="0" {% if app.request.get(key) == '0' %}selected="selected"{% endif %}>nie</option>
                                                <option value="1" {% if app.request.get(key) == '1' %}selected="selected"{% endif %}>tak</option>
                                            </select>
                                        {% else %}
                                            <input type="text" class="form-control" name="{{ key }}" placeholder="" value="{{ app.request.get(key) }}">
                                        {% endif %}
                                        </div>
                                    </td>
                                {% else %}
                                    <td {{ user_table_column_visible('column', true, class, key)|raw }}></td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <div class="btn-toolbar">
                                    <button class="btn btn-default btn-xs" data-toggle="tooltip"
                                            title="przefiltruj wg kryteriów">
                                        <span class="fas fa-fw fa-filter"></span></button>
                                    <button class="btn btn-default btn-xs mr-filter-reset" data-toggle="tooltip"
                                            title="wyczyść wszystkie filtry">
                                        <span class="fas fa-fw fa-trash-alt"></span></button>
                                </div>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in rows %}
                            <tr>
                                <td class="mr-thin-column">{{ loop.index + (setting.getSetting('rows_per_page', app.user) * (app.request.get('page') - 1)) }}</td>
                                <td {{ user_table_column_visible('column', true, class, 'user')|raw }}>
                                    {% if row.user %}
                                        {% if security.hasAccess('user-update') %}
                                            <a href="{{ path('user-update', {'id': row.user.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.user.fullname }}</a>
                                        {% else %}
                                            <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.user.fullname }}</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'user-region')|raw }}>
                                    {% if row.user2 %}
                                        {% if security.hasAccess('user-update') %}
                                            <a href="{{ path('user-update', {'id': row.user2.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.user2.fullname }}</a>
                                        {% else %}
                                            <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.user2.fullname }}</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'name')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.name }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-active')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isActive %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-web')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isWeb %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-shop')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isShop %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-contest')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isContest %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-covid-private')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isCovidPrivate %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-40-plus')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.is40Plus %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'marcel')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.marcel }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'mpk')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.mpk }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'street')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.streetType.short|default }} {{ row.street }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'address-info')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.addressInfo }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-card')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isCard %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-for-disabled')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isForDisabled %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'city')|raw }}>
                                    {% if row.city %}
                                        {% if security.hasAccess('city-update') %}
                                            <a href="{{ path('city-update', {'id': row.city.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.city.name }}</a>
                                        {% else %}
                                            <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.city.name }}</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'province')|raw }}>
                                    {% if row.city %}
                                        {% if security.hasAccess('province-update') %}
                                            <a href="{{ path('province-update', {'id': row.city.province.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.city.province.name }}</a>
                                        {% else %}
                                            <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.city.province.name }}</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'postal-code')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.postalCode }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'phones')|raw }}>
                                    {% for phone in row.phones %}
                                        <a href="callto:{{ phone.number }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ phone.number }}</a>
                                        {%- if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-internet')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isInternet %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-children')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isChildren %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-children-confirm')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isChildrenConfirm %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-children-age')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>
                                        {% if row.isChildrenAge > 0 %}
                                            {{ isChildrenAgeOptions[row.isChildrenAge]|default(row.isChildrenAge~' mieś.') }}
                                        {% endif %}
                                    </a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-dermatofit')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isDermatofit %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-dermatofit-confirm')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isDermatofitConfirm %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-gynecology')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isGynecology %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'is-gynecology-confirm')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}><span class="fas fa-{% if row.isGynecologyConfirm %}check{% else %}minus{% endif %}"></span></a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'additional-info')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.additionalInfo|raw }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'internal-info')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.internalInfo|raw }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'latitude')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.latitude }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'longitude')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.longitude }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'walk-3d')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.walk3d }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'email')|raw }}>
                                    <a href="mailto:{{ row.email }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.email }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'laboratory')|raw }}>
                                    {% if row.laboratory %}
                                        {% if security.hasAccess('laboratory-update') %}
                                            <a href="{{ path('laboratory-update', {'id': row.laboratory.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.laboratory.name }}</a>
                                        {% else %}
                                            <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.laboratory.name }}</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'collection-point-classification')|raw }}>
                                    {% if row.collectionPointClassification %}
                                        {% if security.hasAccess('collection-point-classification-update') %}
                                            <a href="{{ path('collection-point-classification-update', {'id': row.collectionPointClassification.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.collectionPointClassification.name }}</a>
                                        {% else %}
                                            <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.collectionPointClassification.name }}</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'collection-point-location')|raw }}>
                                    {% if row.collectionPointLocation %}
                                        {% if security.hasAccess('collection-point-location-update') %}
                                            <a href="{{ path('collection-point-location-update', {'id': row.collectionPointLocation.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.collectionPointLocation.name }}</a>
                                        {% else %}
                                            <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.collectionPointLocation.name }}</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'collection-point-partner')|raw }}>
                                    {% if row.collectionPointPartner %}
                                        {% if security.hasAccess('collection-point-partner-update') %}
                                            <a href="{{ path('collection-point-partner-update', {'id': row.collectionPointPartner.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.collectionPointPartner.name }}</a>
                                        {% else %}
                                            <a href="{{ path('collection-point-view', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>{{ row.collectionPointPartner.name }}</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'taking-samples')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.takingSamples }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'registrants')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.registrants }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'price-list')|raw }}>
                                    <a href="{{ path('collection-point-view', {'id': row.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.priceList }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'collection-point-alternative')|raw }}>
                                    {% if row.collectionPointAlternative %}
                                        <a href="{{ path('collection-point-view', {'id': row.collectionPointAlternative.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.collectionPointAlternative.name }}</a>
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'open-at')|raw }}>
                                    {% if (row.openAt) %}
                                        <a href="{{ path('collection-point-view', {'id': row.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.openAt|format_date('short') }}</a>
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'signed-at')|raw }}>
                                    {% if (row.openAt) %}
                                        <a href="{{ path('collection-point-view', {'id': row.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.signedAt|format_date('short') }}</a>
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'close-at')|raw }}>
                                    {% if (row.closeAt) %}
                                        <a href="{{ path('collection-point-view', {'id': row.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ row.closeAt|format_date('short') }}</a>
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'chatbotize-calendars')|raw }}>
                                    {% for calendar in row.calendars %}
                                        <a href="{{ path('collection-point-view', {'id': row.id}) }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ calendar.chatbotizeCalendar.name }}</a>
                                        {%- if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="action-buttons">
                                    {% if security.hasAccess('collection-point-view') %}
                                        <a href="{{ path('collection-point-view', {'id': row.id}) }}" class="btn btn-default btn-xs" data-toggle="tooltip" title="Zobacz kartę">Karta</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

        {% include 'partials/pagination.html.twig' %}

    {% else %}
        <div class="alert alert-warning" role="alert">
            <span class="fas fa-exclamation-circle"></span> Nie znaleziono żadnego punktu pobrań.<br><br>
            <a href="{{ path(app.request.attributes.get('_route')) }}" class="alert-link">Pokaż wszystko</a>
        </div>
    {% endif %}
{% endblock %}
