{% extends 'base.html.twig' %}

{% block body %}

    {% include 'partials/modal-delete.html.twig' with {'element': 'pozycję menu'} %}
    {% include 'partials/list-header.html.twig' with {'action': 'menu-create', 'noFilter': true} %}

    {% if rows %}
        <div class="alab-sortable-tree" data-handler="menu">
            <ol>
                <li class="head" id="0"><a href="#" class="move hidden"></a>Lista pozycji</li>

                {% set depth = 0 %}
                {% for row in rows %}

                {% set data = 'id="category_' ~ row.id ~ '" data-delete-action="' ~ path('menu-delete', {'id': row.id}) ~ '" data-name="' ~ row.getName ~ '" data-type="menu"' %}
                {#{% set data = '' %}#}
                {% if loop.first %}
                <li {{ data|raw }}>
                    {% elseif row.depth < depth %}
                    {% for i in row.depth..(depth-1) %}</li>
            </ol>{% endfor %}
            <li {{ data|raw }}>
                {% elseif row.depth > depth %}
                {% for i in depth..(row.depth-1) %}
                <ol>
                    <li {{ data|raw }}>{% endfor %}
                        {% else %}
                    </li>
                    <li {{ data|raw }}>
                        {% endif %}

                        {% set depth = row.depth %}
                        <a class="move btn btn-info"><span class="fas fa-fw fa-arrows-alt"></span></a>
                        <a href="{{ path('menu-update', {'id': row.id}) }}"{% if not row.isActive %} class="inactive"{% endif %}>
                            {% if row.icon %}<span class="fas fa-fw fa-{{ row.icon.name }}"></span> {% endif %}{{ row.getName }}
                        </a>
                        {% if (row.link) %}
                            <span class="text-muted"> (<a
                                        href="{{ path(row.link.name) }}">{{ row.link.name }}</a>)</span>
                        {% endif %}
                        {#<small class="text-danger"> depth: {{ row.depth }}, left: {{ row.lft }}, right: {{ row.rgt }}</small>#}
                        <div class="pull-right">
                            <a href="{{ path('menu-update', {'id': row.id}) }}" class="btn btn-primary btn-xs"
                               data-toggle="tooltip"
                               title="<strong>Utworzono</strong>: {{ row.createdAt|format_datetime('short') }}<br><strong>Zmieniono</strong>: {{ row.updatedAt|format_datetime('short') }}"><span class="fas fa-fw fa-pencil-alt"></span></a>
                            <button class="btn btn-danger btn-xs row-delete inline-xs-margin-left" data-title="Delete" data-toggle="tooltip" title="Usuń">
                                <span class="fas fa-fw fa-trash-alt"></span>
                            </button>
                        </div>

                        {% if loop.last %}
                        {% for i in row.depth..depth %}</li>
                </ol>{% endfor %}
                {% endif %}
                {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <span class="fas fa-exclamation-circle"></span> Nie znaleziono żadnej elementu menu.<br><br>
            <a href="{{ path(app.request.attributes.get('_route')) }}" class="alert-link">Pokaż wszystko</a>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ prefetch(asset('js/alab.nestedSortable.min.js')) }}" nonce="{{ csp_nonce('script') }}"></script>
{% endblock %}