{% extends 'base.html.twig' %}

{% block body %}

    {% set optionAdditionalContent %}

        {% if app.user %}
            <div class="btn-vertical-align">
                <div class="btn-group btn-group-sm">
                    <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({'page': app.request.get('page')|default(1), 'setting_user_only_active': 1})) }}" class="btn btn-default{% if (setting.getSetting('user_only_active', app.user)) %} active{% endif %}" title="{{ "Pokaż tylko aktywnych użytkowników"|trans }}" data-toggle="tooltip"><span class="fa fa-check"></span> {{ "Tylko aktywni"|trans }}</a>
                    <a href="{{ path(app.request.get('_route'), app.request.query.all|merge({'page': app.request.get('page')|default(1), 'setting_user_only_active': 0})) }}" class="btn btn-default{% if not (setting.getSetting('user_only_active', app.user)) %} active{% endif %}" title="{{ "Pokaż wszystkich użytkowników"|trans }}" data-toggle="tooltip"><span class="fa fa-bars"></span> {{ "Wszyscy"|trans }}</a>
                </div>
            </div>
        {% endif %}

    {% endset %}

    {% include 'partials/modal-delete.html.twig' with {'element': 'administratora'} %}
    {% include 'partials/list-header.html.twig' with {'action': 'user-create'} %}

    {% if rows.count %}

        {% set class = 'user' %}
        {% set columns = {
            
            'name': {'name': 'Imię', 'sort': true, 'filter': true},
            'surname': {'name': 'Nazwisko', 'sort': true, 'filter': true},
            'team': {'name': 'Grupa', 'sort': true, 'filter': true},
            'login': {'name': 'Login', 'sort': true, 'filter': true},
            'email': {'name': 'E-mail', 'sort': true, 'filter': true},
            'phones': {'name': 'Telefony', 'sort': false, 'filter': true},
            'collection-point-coordinator': {'name': 'Koordynator', 'sort': false, 'filter': true},
            'collection-point-region': {'name': 'Dyrektor regionalny', 'sort': false, 'filter': true},
            'laboratories': {'name': 'Laboratoria', 'sort': false, 'filter': false},
            'labs': {'name': 'Pracownie', 'sort': false, 'filter': false},
            'collection-points': {'name': 'Punkty pobrań', 'sort': false, 'filter': false},
        } %}

        {% set isFilterBarVisible = false %}
        {% for key,text in columns %}
            {% if app.request.get(key) != '' %}
                {% set isFilterBarVisible = true %}
            {% endif %}
        {% endfor %}

        <form method="get" action="">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-hover table-stick" data-table="user">
                        <thead>
                        <tr>
                            <th class="mr-thin-column">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="fas fa-fw fa-columns"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-default btn-xs mr-filter-button {% if isFilterBarVisible %}active{% endif %}"
                                            data-toggle="button">
                                        <span class="fas fa-fw fa-filter"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-left dropdown-column-select" role="menu">
                                        <li>
                                            {% for key,params in columns %}
                                                <div class="switch switch-xs">
                                                    <input type="checkbox" id="checkbox-{{ loop.index }}" {{ user_table_column_visible('checkbox', true, class, key)|raw }}>
                                                    <label for="checkbox-{{ loop.index }}">
                                                        {{ params.name }}
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            {% for key,params in columns %}
                                {% if params.sort %}
                                    <th {{ user_table_column_visible('column', true, class, key)|raw }}>{{ user_table_column_order(params.name, class, key) }}</th>
                                {% else %}
                                    <th {{ user_table_column_visible('column', true, class, key)|raw }}>{{ params.name }}</th>
                                {% endif %}
                            {% endfor %}
                            <th></th>
                        </tr>
                        <tr class="mr-filter-row {% if not isFilterBarVisible %}mr-hidden{% endif %}">
                            <td></td>
                            {% for key,params in columns %}
                                {% if params.filter %}
                                    <td {{ user_table_column_visible('column', true, class, key)|raw }}><input
                                                type="text" class="form-control" name="{{ key }}" placeholder=""
                                                value="{{ app.request.get(key) }}"></td>
                                {% else %}
                                    <td {{ user_table_column_visible('column', true, class, key)|raw }}></td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <div class="btn-toolbar">
                                    <button class="btn btn-default btn-xs" data-toggle="tooltip"
                                            title="przefiltruj wg kryteriów">
                                        <span class="fas fa-fw fa-filter"></span></button>
                                    <button class="btn btn-default btn-xs mr-filter-reset" data-toggle="tooltip"
                                            title="wyczyść wszystkie filtry">
                                        <span class="fas fa-fw fa-trash-alt"></span></button>
                                </div>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in rows %}
                            <tr{% if security.hasAccess('user-delete') %} data-name="{{ row.fullname }}" data-delete-action="{{ path('user-delete', {'id': row.id}) }}"{% endif %}>
                                <td class="mr-thin-column"><span {% if not row.isActive %} class="inactive"{% endif %}>{{ loop.index + (setting.getSetting('rows_per_page', app.user) * (app.request.get('page') - 1)) }}</span></td>
                                {# <td {{ user_table_column_visible('column', true, class, 'avatar')|raw }}>
                                    {% if row.path %}
                                        {% if security.hasAccess('user-update') %}
                                            <a href="{{ path('user-update', {'id': row.id}) }}" class="avatar">
                                                <img class="avatar" src="{{ asset(('avatar/'~row.path)|imagine_filter('avatar')) }}" width="32" height="32" />
                                            </a>
                                        {% else %}
                                            <img class="avatar" src="{{ asset(('avatar/'~row.path)|imagine_filter('avatar')) }}" width="32" height="32" />
                                        {% endif %}
                                    {% endif %}
                                </td> #}
                                <td {{ user_table_column_visible('column', true, class, 'name')|raw }}>
                                    {% if security.hasAccess('user-update') %}
                                        <a href="{{ path('user-update', {'id': row.id}) }}" {% if not row.isActive %} class="inactive"{% endif %}>{{ row.name }}</a>
                                    {% else %}
                                        {{ row.name }}
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'surname')|raw }}>
                                    {% if security.hasAccess('user-update') %}
                                        <a href="{{ path('user-update', {'id': row.id}) }}" {% if not row.isActive %} class="inactive"{% endif %}>{{ row.surname }}</a>
                                    {% else %}
                                        {{ row.surname }}
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'team')|raw }}>
                                    {% if security.hasAccess('team-update') %}
                                        <a href="{{ path('team-update', {'id': row.team.id}) }}" class="text-alternative {% if not row.isActive %} inactive{% endif %}">{{ row.team.getName }}</a>
                                    {% elseif security.hasAccess('user-update') %}
                                        <a href="{{ path('user-update', {'id': row.id}) }}" {% if not row.isActive %} class="inactive"{% endif %}>{{ row.team.getName }}</a>
                                    {% else %}
                                        {{ row.team.getName }}
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'login')|raw }}>
                                    {% if security.hasAccess('user-update') %}
                                        <a href="{{ path('user-update', {'id': row.id}) }}" {% if not row.isActive %} class="inactive"{% endif %}>{{ row.username }}</a>
                                    {% else %}
                                        {{ row.username }}
                                    {% endif %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'email')|raw }}>
                                    <a href="mailto:{{ row.email }}" data-toggle="tooltip" title="napisz e-mail" class="text-alternative {% if not row.isActive %} inactive{% endif %}">{{ row.email }}</a>
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'phones')|raw }}>
                                    {% for phone in row.phones %}
                                        <a href="callto:{{ phone.number }}" class="text-alternative{% if not row.isActive %} inactive{% endif %}">{{ phone.number }}</a>
                                        {%- if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'collection-point-coordinator')|raw }}>
                                    {% for collectionPoint in row.collectionPoints %}
                                        {% if security.hasAccess('collection-point-update') %}
                                            <a href="{{ path('collection-point-update', {'id': collectionPoint.id}) }}" class="{% if not row.isActive %}inactive{% else %}text-alternative{% endif %}">{{ collectionPoint.name }}</a>
                                        {%- elseif security.hasAccess('user-update') %}
                                            <a href="{{ path('user-update', {'id': row.id}) }}" {% if not row.isActive %} class="inactive"{% endif %}>{{ collectionPoint.name }}</a>
                                        {%- else %}
                                            {{ collectionPoint.name }}
                                        {% endif %}
                                        {%- if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'collection-point-region')|raw }}>
                                    {% for collectionPoint in row.collectionPoints2 %}
                                        {% if security.hasAccess('collection-point-update') %}
                                            <a href="{{ path('collection-point-update', {'id': collectionPoint.id}) }}" class="{% if not row.isActive %}inactive{% else %}text-alternative{% endif %}">{{ collectionPoint.name }}</a>
                                        {%- elseif security.hasAccess('user-update') %}
                                            <a href="{{ path('user-update', {'id': row.id}) }}" {% if not row.isActive %} class="inactive"{% endif %}>{{ collectionPoint.name }}</a>
                                        {%- else %}
                                            {{ collectionPoint.name }}
                                        {% endif %}
                                        {%- if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'laboratories')|raw }}>
                                    {% for laboratory in row.laboratories %}
                                        {% if security.hasAccess('laboratory-view') %}
                                            <a href="{{ path('laboratory-view', {'id': laboratory.id}) }}" class="{% if not row.isActive %}inactive{% else %}text-alternative{% endif %}">{{ laboratory.name }}</a>
                                        {%- elseif security.hasAccess('user-update') %}
                                            <a href="{{ path('user-update', {'id': row.id}) }}" {% if not row.isActive %} class="inactive"{% endif %}>{{ laboratory.name }}</a>
                                        {%- else %}
                                            {{ laboratory.name }}
                                        {%- endif %}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'labs')|raw }}>
                                    {% for lab in row.labs %}
                                        {% if security.hasAccess('lab-view') %}
                                            <a href="{{ path('lab-view', {'id': lab.id}) }}" class="{% if not row.isActive %}inactive{% else %}text-alternative{% endif %}">{{ lab.name }}</a>
                                        {%- elseif security.hasAccess('user-update') %}
                                            <a href="{{ path('user-update', {'id': row.id}) }}" {% if not row.isActive %} class="inactive"{% endif %}>{{ lab.name }}</a>
                                        {%- else %}
                                            {{ lab.name }}
                                        {%- endif %}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td {{ user_table_column_visible('column', true, class, 'collection-points')|raw }}>
                                    {% for collectionPoint in row.collectionPoints %}
                                        {% if security.hasAccess('collection-point-view') %}
                                            <a href="{{ path('collection-point-view', {'id': collectionPoint.id}) }}" class="{% if not row.isActive %}inactive{% else %}text-alternative{% endif %}">{{ collectionPoint.streetType.short|default }} {{ collectionPoint.street }}</a>
                                        {%- elseif security.hasAccess('user-update') %}
                                            <a href="{{ path('user-update', {'id': row.id}) }}" {% if not row.isActive %} class="inactive"{% endif %}>{{ collectionPoint.streetType.short|default }} {{ collectionPoint.street }}</a>
                                        {%- else %}
                                            {{ collectionPoint.streetType.short|default }} {{ collectionPoint.street }}
                                        {%- endif %}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="action-buttons">
                                    {% if security.hasAccess('user-update') %}
                                        <a href="{{ path('user-update', {'id': row.id}) }}" class="btn btn-primary btn-xs" data-toggle="tooltip" title="<strong>Utworzono</strong>: {{ row.createdAt|format_datetime('short') }}<br><strong>Zmieniono</strong>: {{ row.updatedAt|format_datetime('short') }}"><span class="fas fa-fw fa-pencil-alt"></span></a>
                                    {% endif %}
                                    {% if security.hasAccess('user-delete') %}
                                        <button class="btn btn-danger btn-xs row-delete inline-xs-margin-left" data-title="Delete" data-toggle="tooltip" title="Usuń">
                                            <span class="fas fa-fw fa-trash-alt"></span>
                                        </button>
                                    {% endif %}
                                    {% if security.hasAccess('user-active') %}
                                        <a href="{{ path('user-active', {'id': row.id, 'status': row.isActive ? 0 : 1}) }}" class="btn btn-warning btn-xs inline-xs-margin-left" >{% if row.isActive %}Wyłącz{% else %}Włącz{% endif %}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

        {% include 'partials/pagination.html.twig' %}

    {% else %}
        <div class="alert alert-warning" role="alert">
            <span class="fas fa-exclamation-circle"></span> Nie znaleziono żadnego administratora.<br><br>
            <a href="{{ path(app.request.attributes.get('_route')) }}" class="alert-link">Pokaż wszystko</a>
        </div>
    {% endif %}
{% endblock %}


